    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
        font-family: sans-serif;
        background-color: black;
        color: white;
    }

    header {
        background-color: rgb(75, 0, 0);
        display: flex;
        border-bottom: 1px solid rgb(225, 0, 0);
        align-items: center;
    }

    #refreshimage {
        width: 90px;
        height: 90px;
        margin: 3px;
    }

    nav {
        background-color: rgb(44, 0, 0);
    }

    .navigation {
        color: white;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }